/* max-width: 1025px */

@media (min-width: 1025px){
	.catalog-filters__selected:hover {
		border-color: #ff0000;;
	}
	.ui-slider-handle:hover {
		border-color: #5d0400;
		&::before {
			border-color: #5d0400;
		}
		&::after {
			border-color: #5d0400;
		}
	}
	.modal-close:hover {
		&::before {
			background-color: #000;
		}
		&::after {
			background-color: #000;
		}
	}
	.modal-slider {
		.slick-arrow:hover {
			background-color: transparent;
			border: none;
			box-shadow: none;
		}
	}
	.breadcrumbs__item:hover {
		color: #000;
	}
	.catalog-dropdown__item:hover {
		color: #5d0400;
	}
	.news__content:hover .news__more {
		color: #5d0400;
		.more-text {
			text-decoration: underline #5d0400;
		}
	}
	.discounts-text:hover .discounts__more {
		color: #5d0400;
		span {
			text-decoration: underline #5d0400;
		}
	}
	.cart-table__delete:hover {
		transform: rotate(90deg);
	}
	.nav__item:hover,
	.header__tel a:hover,
	.footer-nav__item:hover,
	.footer-address__email:hover,
	.footer-address__tel a:hover,
	.header-icons > span:not(:nth-of-type(2)):hover,
	.header-icons > span:nth-of-type(2) span:hover,
	.header-account a:hover,
	.header-icons > a:hover,
	.header-search:hover > span,
	.header__lang > span:hover,
	.dropdown__item:hover {
		color: #fff;
	}
	.standart-btn:hover {
		background-color: #5d0400;
		color: #fff;
	}
	.red-btn:hover {
		background: #b90800;
		border-color: #b90800;
	}
	.black-btn:hover {
		border-color: #5d0400;
	}
	.catalog-slider .slider-item:hover,
	.products-item:hover,
	.categories-item:hover,
	.discounts-item:hover,
	.news .news-item:hover {
		box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.15);
	}
	.products__cart:hover {
		background-color: #b90800;
	}
	.products__star:hover,
	.products__more:hover {
		color: #5d0400;
	}
	.product-fav:hover {
		.product__star {
			color: #5d0400;
		}
	}
	.slider-link:hover .slider__text {
		color: #5d0400;
	}
	.socials__item:hover {
		border-color: #b90800;
		color: #b90800;
	}
	.catalog-filters__checkbox:hover .checkmark,
	.range__input:focus,
	.favorite__checkbox:hover .checkmark {
		border-color: #1b1b1b
	}
	.catalog-pagination__item:hover {
		color: #000;
		border-color: #000;
	}
	.cart-btn:hover,
	.history__more:hover {
		box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.15);
    border-color: #fff;
	}
	.favorite__delete:hover {
		&::before {
			background-color: #b90800;
		}
		&::after {
			background-color: #b90800;
		}
	}
}

/******** max-width: 1679px ********/

@media (max-width: 1679px){
	.header {
		flex-direction: column-reverse;
		&-account {
			.dropdown-content {
				top: 14px;
			}
		}
		.dropdown-content {
			margin-top: 28px;
		}
		&-menu {
			height: 80px;
			width: 100%;
			position: relative;
			.header__lang {
				display: none;
			}
			.header__tel {
				display: none;
			}
			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: -30px;
				height: 1px;
				width: calc(100% + 60px);
				background-color: #353535;
			}
		}
		&-icons {
			height: calc(100% - 80px);
			width: 100%;
			.header__lang {
				display: block;
				.dropdown-content {
					margin-top: 10px;
				}
			}
			.header__tel {
				display: flex;
				font-size: 16px;
				margin-right: 30%;
				width: 330px;
			}
		}
	}
	.nav {
		width: 100%;
		margin-right: 0;
		&__ul {
			height: 80px;
		}
		&__logo {
			height: 55px;
			width: 100px;
		}
	}
}
/*************************************/
/********* max-width: 1679px min-width: 1139px *********/

@media (max-width: 1679px) and (min-width: 1139px){
	.header-search__input {
		top: -8px;
		height: 41px;
		&:focus {
			padding-top: 15px;
			padding-bottom: 15px;
			width: 465px;
		}
	}
}
/********* max-width: 1139px *********/

@media (max-width: 1139px) {
	main {
		margin-top: 100px;
	}
	.tablet-show {
		display: block;
	}
	.tablet-hide {
		display: none;
	}
	.wrapper {
		max-width: 720px;
	}
	.slick-dots {
		top: -80px;
	}
	.products-slider .slick-dots {
		top: -60px;
	}
	.title-l {
		font-size: 30px;
		line-height: 38px;
	}
	.header {
		flex-direction: row;
		height: 100px;
		padding: 0 15px;
		&-menu {
			flex-wrap: nowrap;
			position: absolute;
			flex-direction: column;
			align-items: flex-start;
			height: auto;
			overflow: hidden;
			max-height: 0px;
			left: 0;
			top: calc(100% - 100px);
			width: 370px;
			padding: 100px 40px 0px 40px;
			transition: z-index .3s, max-height .3s, padding .3s, background-color .3s;
			&::before {
				display: none;
			}
			.logo__li {
				display: none;
			}
			.header__lang {
				display: block;
				margin-top: 40px;
				font-size: 18px;
				width: 100%;
			}
			.header__tel {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				width: 100%;
				order: 1;
				margin-top: 90px;
				a {
					& + a {
						margin-top: 15px;
					}
				}
			}
		}
		&-icons {
			height: 100%;
			width: 30%;
			.header__lang {
				display: none;
			}
			.header__tel {
				display: none;
			}
		}
		&-tablet {
			display: flex;
			.nav__logo {
				z-index: 1;
			}
		}
		&-search {
			&__input:focus {
				width: 395px;
			}
		}
	}
	.nav {
		&__ul {
			flex-direction: column;
			align-items: flex-start;
			height: auto;
		}
		&__li {
			width: 100%;
			& + .nav__li {
				margin-top: 40px;
			}
		}
		&__item {
			font-size: 18px;
		}
	}
	.icon-login + p {
		display: none;
	}
	.hamburger {
		display: block;
	}
	.dropdown {
		&-content {
			position: relative;
			background-color: #080808;
			width: 370px;
			margin-left: -40px;
			margin-top: 0px;
		}
		&.active {
			& + .dropdown-content {
				margin-top: 30px;
			}
		}
	}
	.main-background {
		height: 800px;
		&__text {
			background-color: transparent;
			padding: 0;
			text-align: center;
			max-width: 620px;
			margin: 250px auto 0;
			font-size: 40px;
		}
	}
	.catalog-slider {
		width: 572px;
		.slick-current {
			transform: scale(1);
		}
		.slick-list {
			padding: 45px 0 !important;
		}
		.slider-container {
			margin-bottom: 0;
		}
		.slider-item {
			margin-left: 15px;
			margin-right: 15px;
		}
	} 
	.about {
		padding-top: 20px;
		&__text {
			max-height: 261px;
			overflow: hidden;
			&.show {
				max-height: 1000px;
				overflow: visible;
			}
		}
		&__img {
			width: 340px;
			height: 214px;
			margin-right: 20px;
			margin-left: -75px;
			&::after {
				height: 120px;
				width: 90px;
			}
			&::before {
				border-width: 20px;
				right: -20px;
				top: -20px;
				width: 110px;
				height: 174px;
			}
		}
		&__title {
			margin-bottom: 45px;
			width: calc(100% - 380px);
			min-height: 76px;
		}
		&__more {
			display: block;
			margin-top: 20px;
		}
	}
	.features {
		margin-bottom: 70px;
		&-item {
			width: calc(33.33% - 30px);
		}
	}
	.partners-slider {
		margin-bottom: 70px;
		.slick-prev {
			top: -89px;
		}
		.slick-next {
			top: -89px;
		}
	} 
	.products-slider {
		margin-bottom: 70px;
		.slick-prev {
			top: -69px;
		}
		.slick-next {
			top: -69px;
		}
	} 
	.products__star {
		margin-left: auto;
		margin-right: 15px;
	}
	.news {
		&__img {
			width: 30%;
		}
		&__content {
			width: calc(70% - 5px);
		}
	}
	.news-slider {
		margin-bottom: 90px;
		.slick-prev {
			top: -89px;
		}
		.slick-next {
			top: -89px;
		}
		.slider-container {
			margin-left: 20px;
			&:before {
				width: 192px;
				height: 76px;
				border-left: 18px solid #5d0400;
				border-top: 19px solid #5d0400;
				border-bottom: none;
				top: -19px;
				left: -18px;
			}
		}
	} 
	.questions {
		height: 545px;
		.wrapper {
			padding-top: 100px;
		}
	}
	.footer {
		&-contacts {
			height: 270px;
			padding-top: 40px;
			.wrapper {
				height: auto;
				justify-content: center;
			}
		}
		&-address {
			width: 490px;
			height: 87px;
			margin-right: 0;
			margin-bottom: 40px;
		}
		&-nav {
			width: 520px;
			margin-left: auto;
			margin-right: auto;
			&__left {
				width: 100%;
				height: 40px;
				flex-direction: row;
			}
			&__right {
				width: 100%;
				height: 40px;
				flex-direction: row;
			}
			&__item {
				&:nth-of-type(1) {
					width: 105px;
				}
				&:nth-of-type(2) {
					width: 115px;
				}
				&:nth-of-type(3) {
					width: 75px;
				}
			}
		}
	}
	.stock {
		&__img {
			width: 310px;

			&:nth-of-type(odd) {
				margin-left: 20px;
				&::before {
					border-top: 20px solid #5d0400;
    			border-left: 20px solid #5d0400;
    			left: -20px;
    			top: -20px;
    			
    			width: 186px;
    			height: 186px;
				}
			}
			&:nth-of-type(even) {
				margin-right: 20px;
				&::before {
					border-bottom: 20px solid #5d0400;
    			border-right: 20px solid #5d0400;
    			right: -20px;
    			bottom: -20px;
    			
    			width: 186px;
    			height: 186px;
				}
			}
		}
	}
	.categories {
		&-item {
			width: calc(33.3% - 30px);
			padding: 30px 30px 25px 30px;
		}
	}
	.dealers-page {
		.features-item {
			width: calc(50% - 30px);
		}
	}
	.contract__img {
		height: 370px;
	}
	.questions-alt {
		margin-bottom: 80px;
		&-form {
			width: 100%;
			margin-right: 0;
			margin-bottom: 60px;
		}
		input {
			width: calc(33.3% - 20px);
			& + input {
				margin-left: 25px;
				margin-top: 0;
			}
		}
		&-btn {
			width: 380px;
			margin-left: auto;
			margin-right: auto;
		}
		&-img {
			width: 100%;
		}
	}
	.catalog {
		margin-bottom: 80px;
		&-container {
			.products-item {
				width: calc(50% - 30px);
				height: 440px;
			}
			.products__img {
				max-height: 250px;
				margin-bottom: 20px;
			}
		}
		&-filters {
			position: absolute;
			width: 315px;
			background-color: #fff;
			z-index: 5;
			right: 0;
			margin-right: 0;
			padding: 0 30px;
			max-height: 0px;
			opacity: 0;
			overflow: hidden; 
			box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.25);
			transition: opacity .6s, padding.3s linear, max-height .6s cubic-bezier(0.01, 1.35, 0.58, 1);
			&.show {
				padding: 30px 30px 0;
				max-height: 5000px;
				opacity: 1;
				transition: opacity .3s, padding.3s linear, max-height .6s cubic-bezier(1, 0, 1, 1);
			}
		}
		&-products {
			width: 100%;
		}
		&__amount {
			margin-left: auto;
			margin-right: 30px;
			flex-wrap: nowrap;
		}
	}
	.filter-dropdown {
		display: flex;
		width: 40px;
		height: 40px;
		border: 1px solid #efefef;
		&-close {
		  cursor: pointer;
		  width: 14px;
		  height: 14px;
		  position: absolute;
		  right: 12px;
		  top: 12px;
		  display: block;
		  &::before {
		    content: "";
		    width: 18px;
		    height: 1px;
		    background-color: #0e0e0e;
		    position: absolute;
		    left: -2px;
		    top: 6px;
		    transform: rotate(45deg);
		  }
		  &::after {
		    content: "";
		    width: 18px;
		    height: 1px;
		    background-color: #0e0e0e;
		    position: absolute;
		    left: -2px;
		    top: 6px;
		    transform: rotate(135deg);
		  }
		}
	}
	.product {
		margin-bottom: 80px;
		&-slider {
			width: 100%;
			margin-right: 0;
			margin-bottom: 30px;
		}
		&-order {
			width: 100%;
		}
		&__about {
			display: inline-block;
			&:first-of-type {
				width: calc(30% - 5px);
			}
			&:nth-of-type(2) {
				width: calc(40% - 5px);
			}
			&:last-of-type {
				width: calc(30% - 5px);
			}
		}
		&__old-price {
			width: 100%;
			text-align: center;
		}
		&__price {
			width: 100%;
			margin-top: 40px;
			margin-bottom: 30px;
			text-align: center;
		}
		&-number {
			display: inline-block;
			margin-right: 15px;
			margin-bottom: 0;
		}
		&-btn {
			display: inline-block;
			margin-right: 20px;
			margin-bottom: 0;
		}
		&-fav {
			display: inline-block;
		}
		&-char {
			width: 100%;
			margin-bottom: 50px;
			margin-right: 0;
		}
		&-desc {
			width: 100%;
		}
		&-modal {
			&-container {
				width: 690px;
				height: 453px;
			}
		}
	}
	.favorite {
		margin-bottom: 80px;
		&-modal {
			width: 690px;
		}
	}
	.cart {
		margin-bottom: 90px;
		&-table {
			&__product {
				width: 375px;
				padding-right: 30px;
			}
			&__img {
				margin-right: 20px;
			}
			&__text {
				width: calc(100% - 120px);
				justify-content: center;
				.name {
					font-size: 16px;
					margin-bottom: 5px;
				}
				.code {
					display: none;
				}
				.producer {
					display: none;
				}
			}
			&__number {
				width: 190px;
				padding-right: 20px;
			}
			&__sum {
				width: 125px;
			}
			&__header {
				th:nth-of-type(2) {
					display: none;
				}
			}
			&__price-tablet {
				font-size: 24px;
			}
			td:nth-of-type(2) {
				display: none;
			}
		}
		&-buttons {
			.standart-btn {
				width: 330px;
			}
		}
		&-total {
			width: 330px;
		}
		&-modal {
			&-container {
				padding: 40px 15px;
			}
			.cart-table__number {
				padding-right: 20px;
			}
		}
	}
	.order {
		margin-bottom: 90px;
		&-address {
			input {
				&:nth-of-type(2) {
					width: 310px;
				}
				&:nth-of-type(3) {
					margin-left: 0;
					margin-top: 20px;
				}
				&:last-of-type {
					margin-top: 20px;
				}
			}
		}
		&-buttons {
			button {
				width: 330px;
			}
		}
	}
	.payment {
		margin-bottom: 70px;
		&__title {
			margin-bottom: 40px;
		}
	}
	.delivery {
		margin-bottom: 90px;
		&__title {
			margin-bottom: 40px;
		}
		&__logo {
			height: 100px;
			padding: 25px 20px;
		}
	}
	.return {
		margin-bottom: 90px;
	}
	.discounts {
		margin-bottom: 110px;
		&-item {
			width: 100%;
		}
	}
	.contacts {
		margin-bottom: 85px;
		&__title {
			margin-bottom: 35px;
		}
		&-form {
			width: 100%;
			margin-bottom: 0;
		}
	}
	.address {
		width: 100%;
		margin-right: 0;
		margin-bottom: 80px;
		&-half {
			display: inline-block;
			vertical-align: top;
			&:first-of-type {
				width: 400px;
			}
			&:last-of-type {
				width: calc(100% - 425px);
			}
			& + .address-half {
				margin-left: 20px;
				margin-top: 0;
			}
		}
	}
	.account {
		margin-bottom: 90px;
		&-container {
			height: auto;
		}
		&-info {
			width: 350px;
			padding-right: 20px;
		}
		&-settings {
			width: calc(100% - 350px);
		}
	}
	.history {
		margin-bottom: 90px;
		&-page {
			main {
				min-height: calc(100vh - 125px - 412px);
			}
		}
		&-item {
			padding-left: 35px;
			padding-right: 35px;
		}
		&-header {
			padding-top: 25px;
			padding-bottom: 25px;
			flex-direction: column;
			justify-content: center;
		}
		&-preview {
			display: none;
		}
		&__more {
			order: -2;
			height: 100%;
    	margin: 15px 40px 15px 0;
		}
		&__number {
			width: 135px;
		}
		&__date {
			order: -1;
			margin-right: 40px;
		}
		&__sum {
			height: 100%;
			margin-right: 30px;
			display: flex;
	    flex-direction: column;
	    justify-content: center;
		}
		&__status {
			font-size: 16px;
			width: 170px;
		}
		&-body {
			padding-bottom: 40px;
			&::after {
				height: calc(100% - 70px);
				right: 170px;
				top: 30px;
			}
		}
		&-products {
			width: 448px;
			&__item {
				flex-direction: column;
				align-items: flex-start;
			}
		}
		&__img {
			margin-right: 20px;
		}
		&__name {
			width: 155px;
			font-size: 16px;
			margin-right: 0px;
			.name {
				max-height: 57px;
			}
		}
		&__count {
			margin-right: 0;
			width: 140px;
		}
		&__price {
			height: calc(100% - 30px);
			width: 140px;
	    display: flex;
	    justify-content: flex-end;
	    align-items: flex-end;
		}
		&-aside {
			width: 170px;
		}
	}
	.search {
		margin-bottom: 90px;
		&__found {
			width: 150px;
		}
		.tablet-icon {
			display: block;
	    width: 16px;
	    height: 16px;
	    color: #000 !important;
		}
		&__sort {
			&:first-of-type {
				width: calc(50% - 120px);
			}
			&:nth-of-type(2) {
				width: calc(50% - 100px);
			}
			&:last-of-type {
				width: 70px;
			}
		}
	}
	.change-password {
		&__inputs {
			width: 350px;
			padding-right: 50px;
		}
	}
}

/********* max-width: 719px *********/

@media (max-width: 719px) {
	.mobile-show {
		display: block;
	}
	.mobile-hide {
		display: none;
	}
	.wrapper {
		max-width: 360px
	}
	.slick-dots {
		top: auto !important;
		right: 50%;
	}
	.title-l {
		font-size: 28px;
		line-height: 32px;
	}
	body.menu .header-menu {
		padding-left: 20px;
		padding-right: 0;
		z-index: 7;
	}
	body.menu .header-search {
		z-index: 1;
	}
	.hamburger {
		&.active {
			transform: translateX(calc(95vw - 130px));
		}
	}
	.header {
		height: 60px;
		&-icons {
			width: 40%;
			position: relative;
		}
		&-menu {
			width: 100%;
			padding-left: 20px;
			background-color: #000;
		}
		&-tablet {
			.nav__logo {
				z-index: 8;
			}
		}
		&__lang {
			width: 100%;
		}
		&-search {
			z-index: 10;
			&__input:focus {
				width: 77vw;
			}
		}
	}
	.nav {
		&__logo {
			background-image: url(../img/logo-mobile.png);
			width: 68px;
			height: 33px;
		}
	}
	.dropdown-content {
		width: calc(100% + 20px);
		margin-left: -20px;
		padding-left: 20px;
	}
	.dropdown.active + .dropdown-content {
		padding-left: 20px;
	}
	.main-background {
		height: 580px;
		&__text {
			font-size: 28px;
			max-width: 335px;
			height: 168px;
			margin-top: 160px;
		}
	}
	.catalog-slider {
		width: 100%;
		.slider-container {
			width: 245px;
			margin-left: auto;
			margin-right: auto;
		}
		.slider-item {
			height: 275px;
		}
		.slider__img {
			margin-bottom: 20px;
			margin-top: 40px;
		}
		.slider__text {
			font-size: 14px;
			height: 42px;
			max-height: 42px;
			display: flex;
			align-items: center;
			justify-content: center;
			overflow: hidden;
		}
		.slick-next {
			right: -50px;
		}
		.slick-prev {
			left: -50px;
		}
	}
	.about {
		display: flex;
		flex-direction: column;
		&__text {
			max-height: 356px;
		}
		&__img {
			width: calc(100% - 20px);
			height: 200px;
			min-height: 200px;
			float: none;
			margin-left: 0;
			margin-bottom: 30px;
			&::after {
				display: none;
			}
		}
		&__title {
			order: -1;
			width: 100%;
			margin-bottom: 25px;
		}
	}
	.features {
		&-content {
			margin: 0 0 -30px -20px;
		}
		&-item {
			margin: 0 0 30px 20px;
			width: calc(50% - 20px);
		}
	}
	.partners {
		&__title {
			margin-bottom: 15px;
		}
		&-slider {
			margin-bottom: 150px;
			.slick-dots {
				bottom: -65px;
			}
			.slick-next {
				right: 50%;
				top: auto !important;
				bottom: -70px;
				margin-right: -65px;
			}
			.slick-prev {
				right: 50%;
				top: auto !important;
				bottom: -70px;
				margin-right: 60px;
			}
		}
	}
	.products {
		&-slider {
			margin-bottom: 90px;
			.slider-container {
				margin-bottom: 80px;
			}
			.slider-item {
				margin-right: 0;
				margin-left: 0;
			}
			.slick-dots {
				bottom: -45px;
				margin-right: -20px;
			}
			.slick-next {
				right: 50%;
				top: auto !important;
				bottom: -50px;
				margin-right: -80px;
			}
			.slick-prev {
				right: 50%;
				top: auto !important;
				bottom: -50px;
				margin-right: 35px;
			}
			.standart-btn {
				width: 100%;
			}
		}
	}
	.news {
		&-item {
			height: 360px;
			margin-right: 0;
		}
		&__img {
			width: 100%;
			height: 160px;
		}
		&__content {
			width: 100%;
			padding: 25px 30px 30px 30px;
		}
		&-slider {
			margin-bottom: 150px;
			.slider {
				&-container {
					margin-left: 0;
					&::before {
						display: none;
					}
				}
			}
			.slick-dots {
				bottom: -65px;
				margin-right: -20px;
			}
			.slick-next {
				right: 50%;
				top: auto !important;
				bottom: -70px;
				margin-right: -80px;
			}
			.slick-prev {
				right: 50%;
				top: auto !important;
				bottom: -70px;
				margin-right: 35px;
			}
			.standart-btn {
				width: 100%;
			}
		}
	}
	.questions {
		height: 640px;
		&__title {
			text-align: initial;
			line-height: 38px;
			margin-bottom: 25px;
		}
		.wrapper {
			padding-top: 60px;
		}
		input {
			width: 100%;
			& + input {
				margin-top: 30px;
			}
		}
		.standart-btn {
			width: 100%;
		}
	}
	.footer {
		height: 500px;
		&-contacts {
			height: 458px;
			.wrapper {
				height: 100%;
			}
		}
		&__logo {
			margin-right: 0;
			margin-bottom: 25px;
		}
		&-address {
			flex-direction: column;
			height: auto;
			margin-bottom: 30px;
			width: 100%;
			&__left {
				width: 305px;
				height: auto;
				text-align: center;
				margin-bottom: 15px;
			}
			&__right {
				width: 250px;
				height: auto;
				align-items: center;
			}
			&__email {
				margin-bottom: 10px;
			}
			&__tel {
				margin-bottom: 10px;
			}
		}
		&-nav {
			width: 330px;
			height: auto;
			&__item {
				font-size: 12px;
				&:nth-of-type(1) {
					width: 90px;
				}
				&:nth-of-type(2) {
					width: 100px;
				}
				&:nth-of-type(3) {
					width: 65px;
				}
			}
		}
		&-copyrights {
			height: 42px;
		}
	}
	.categories {
		&-container {
			margin: 0 0 -20px -20px;
		}
		&-item {
			width: calc(50% - 20px);
			margin: 0 0 20px 20px;
			padding: 25px 23px 20px 23px;
		}
		&__img {
			height: 100px;
			margin-bottom: 25px;
		}
		&__name {
			font-size: 14px;
			max-height: 42px;
		}
	}
	.dealers-page {
		.features-content {
			margin-left: 0;
		}
		.features-item {
			width: 100%;
			margin-left: 0;
		}
	}
	.contract {
		margin-bottom: 90px;
		&-btn {
			width: 100%;
		}
	}
	.contract__img {
		height: 185px;
	}
	.questions-alt {
		input {
			width: 100%;
			& + input {
				margin-left: 0;
				margin-top: 20px;
			}
		}
		&-img {
			height: 200px;
		}
		&-btn {
			width: 100%;
		}
	}
	.catalog {
		&-container {
			margin-left: 0;
			.products-item {
				width: 100%;
				margin-left: 0;
			}
		}
		&__amount {
			width: 61px;
			margin-right: 10px;
		}
		&-filters {
			width: 330px;
		}
	}
	.mobile-icon {
		display: block;
		width: 16px;
		height: 16px;
		color: #000 !important;
	}
	.catalog-pagination__item:nth-of-type(2) {
		margin-left: 30px;
	}
	.catalog-pagination__item:nth-last-of-type(1) {
		margin-left: 30px;
	}
	.catalog-pagination__item:nth-of-type(4) {
		display: none;
	}
	.catalog-pagination__more {
		margin-left: 10px;
	}
	.catalog-pagination-container {
		margin-bottom: 15px;
	}
	.catalog-pagination__text {
		width: 100%;
		text-align: center;
	}
	.product {
		&-slider {
			height: 360px;
			.slider-container {
				width: calc(100% - 80px);
				margin-left: auto;
				margin-right: auto;
			}
			&__item {
				margin: 0 5px;
			}
			.slick-list {
				margin: 0 -5px;
			}
			.slick-arrow {
				width: 30px;
				height: 100%;
				top: 0;
				bottom: auto;
				i {
					transform: rotate(0);
				}
			}
			.slick-prev {
				left: -40px;
				right: auto;
			}
			.slick-next {
				right: -40px;
				left: auto;
			}
		}
		&__title {
			font-size: 20px;
			line-height: 25px;
			max-height: initial;
		}
		&-img {
			width: 100%;
			height: 247px;
			order: -1;
		}
		&__about {
			&:nth-of-type(n) {
				width: 100%;
			}
		}
		&__old-price {
			text-align: left;
		}
		&__price {
			text-align: left;
		}
		&-number {
			display: block;
			margin-bottom: 20px;
		}
		&-btn {
			display: block;
			margin-bottom: 25px;
		}
		&-modal {
			&-container {
				width: 330px;
				height: 194px;
			}
		}
	}
	.favorite {
		&-modal {
			width: 330px;
			height: 175px;
			padding: 20px 30px;
			bottom: 20px;
			&__text {
				margin-bottom: 10px;
			}
		}
	}
	.cart {
		&__title {
			margin-bottom: 35px;
		}
		&-table {
			&__header {
				th:not(:first-of-type) {
					display: none;
				}
			}
			&__item {
				display: block;
				padding-bottom: 15px;
			}
			&__text {
				position: relative;
				.name {
					max-height: 69px;
					line-height: 23px;
				}
			}
			&__product {
				width: 330px;
				padding-right: 55px;
			}
			&__price-tablet {
				line-height: 1;
			}
			&__delete {
				top: 0;
				right: -55px;
			}
			&__number {
				width: 170px;
				padding-right: 0;
			}
			&__sum {
				max-width: initial;
				width: 160px;
				max-width: 160px;
			}
		}
		&-buttons {
			&__order {
				order: -1;
				margin-bottom: 30px;
			}
		}
		&-total {
			margin-bottom: 15px;
		}
		&-modal {
			.cart-table__number {
				padding-right: 0;
			}
		}
	}
	.order {
		&-personal {
			&__item {
				p {
					display: none;
				}
			}
		}
		&-item {
			position: relative;
			.show-text {
				color: #600804;
				position: absolute;
				right: 10px;
				top: 10px;
				z-index: 1;
			}
		}
		&__checkbox {
			width: 100%;
			margin-right: 0;
			height: 130px;
			padding: 10px 40px;
		}
		&__text {
			display: flex;
	    justify-content: center;
	    flex-direction: column;
			width: 100%;
			box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.25);
			background-color: #fff;
			border: 1px solid rgb(235, 235, 235);
			padding: 0px 25px 0px 20px;
			top: 0;
			left: 0;
			opacity: 0;
			position: absolute;
			max-height: 0;
			overflow: hidden;
			z-index: 0;
			transition: max-height .6s cubic-bezier(0, 1.01, 1, 1), padding .3s cubic-bezier(0, 1.01, 1, 1), z-index 0s, opacity .9s;
			transition-delay: 0s, .3s, .6s, 0s;
			.close {
			  cursor: pointer;
			  width: 14px;
			  height: 14px;
			  position: absolute;
			  right: 12px;
			  top: 12px;
			  display: block;
			  &::before {
			    content: "";
			    width: 18px;
			    height: 1px;
			    background-color: #7d7d7d;
			    position: absolute;
			    left: -2px;
			    top: 6px;
			    transform: rotate(45deg);
			  }
			  &::after {
			    content: "";
			    width: 18px;
			    height: 1px;
			    background-color: #7d7d7d;
			    position: absolute;
			    left: -2px;
			    top: 6px;
			    transform: rotate(135deg);
			  }
			}
			&.show {
				transition: max-height .6s cubic-bezier(0, 0.01, 0.92, 0.35), padding .3s cubic-bezier(0, 0.01, 0.92, 0.35), z-index 0s, opacity .6s;
				max-height: 400px;
				opacity: 1;
				padding: 20px 25px 20px 20px;
				z-index: 2;
				transition-delay: 0s, 0s, 0s, 0s;
			}
		}
		&-address {
			input {
				&:nth-of-type(2) {
					width: 330px;
					margin-left: 0;
					margin-top: 20px;
				}
				&:nth-of-type(n + 3) {
					width: 150px;
				}
			}
		}
		&-buttons {
			button:first-of-type {
				order: 1;
				margin-top: 30px;
			}
		}
	}
	.delivery {
		&__logo {
			width: calc(50% - 30px);
		}
	}
	.discounts {
		&-item {
			height: 405px;
		}
		&__img {
			width: 100%;
			height: 245px;
		}
		&-text {
			width: 100%;
			height: calc(100% - 245px);
		}
	}
	.contacts {

	}
	.address {
		&-half:nth-of-type(n) {
			width: 100%;
			margin-left: 0;
			& + .address-half {
				margin-top: 25px;
			}
		}
	}
	.account {
		&-container {
			padding: 30px;
		}
		&-info {
			border-right: none;
			border-bottom: 1px solid #ebebeb;
			padding-bottom: 25px;
			padding-right: 0;
			width: 100%;
		}
		&-settings {
			padding-top: 25px;
			padding-left: 0;
			width: 100%;
		}
	}
	.history {
		&-page {
			main {
				min-height: calc(100vh - 125px - 600px);
			}
		}
		&-item {
			max-height: 172px;
			padding-left: 30px;
			padding-right: 30px;
		}
		&-header {
			height: 170px;
			justify-content: space-between;
		}
		&__more {
			margin: 40px 25px 40px 0;
		}
		&__date {
			font-size: 14px;
			margin-right: 0;
			width: calc(100% - 65px);
		}
		&__number {
			font-size: 14px;
			margin-right: -10px;
			width: calc(100% - 55px);
			span {
				font-size: 16px;
				display: inline;
			}
		}
		&__sum {
			height: auto;
			margin-right: 0;
			width: calc(100% - 65px);
			flex-direction: row;
			justify-content: flex-start;
	    align-items: baseline;
			font-size: 14px;
			.sum {
				margin-left: 5px;
				font-size: 16px;
			}
		}
		&__status {
			width: calc(100% - 65px);
			height: auto;
			padding-left: 0;
			font-size: 14px;
			max-height: 40px;
			overflow: hidden;
			&::before {
				display: none;
			}
		}
		&-body {
			padding-bottom: 10px;
			&::after {
				display: none;
			}
		}
		&-products {
			padding-right: 0;
			&__item {
				height: 95px;
			}
		}
		&__img {
			width: 50px;
			height: 50px;
			padding: 9px 7px;
			order: -2;
		}
		&__name {
			width: calc(100% - 70px);
			height: calc(100% - 18px);
			.name {
				font-size: 14px;
				max-height: 48px;
			}
			.price {
				display: none;
			}
		}
		&__count {
			order: -1;
			width: 50px;
			height: calc(100% - 50px);
			margin-right: 20px;
			font-size: 14px;
			line-height: 1;
			text-align: left;
			display: flex;
			align-items: flex-end;
		}
		&__price {
			font-size: 18px;
			line-height: 1;
			height: 18px;
			width: calc(100% - 70px);
		}
		&-delivery {
			height: 70px;
			p {
				width: 160px;
				font-size: 16px;
				line-height: 20px;

			}
			span {
				font-size: 18px;
				width: calc(100% - 160px);
			}
		}
		&-total {
			justify-content: space-between;
			p {
				font-size: 16px;
			}
			span {
				font-size: 18px;
			}
		}
		&-aside {
			width: 100%;
			padding: 0 0 20px 0;
			order: -1;
			border-bottom: 1px solid #ebebeb;
			max-height: 44px;
			overflow: hidden;
			transition: max-height .6s cubic-bezier(0, 1, 1, 1);
			&__title {
				font-size: 16px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				.icon-uniE011 {
					transition: transform .3s;
				}
			}
			&.open {
				max-height: 500px;
				transition: max-height .6s cubic-bezier(1, 0, 1, 1);
				.icon-uniE011 {
					transform: rotate(-180deg);
				}
			}
		}
	}
	.search {
		&__found {
			width: 100%;
		}
		&__sort:nth-of-type(n) {
			width: 100%;
			margin-top: 10px;
		}
	}
	.log-in-modal {
		&__title {
			margin-bottom: 25px;
		}
		input {
			& + input {
				margin-top: 20px;
			}
			& + button {
				margin-top: 20px;
			}
			& + label {
				margin-top: 20px;
			}
		}
		label {
			& + label {
				margin-top: 20px;
			}
			& + button {
				margin-top: 20px;
			}
		}
		&-container {
			width: 360px;
			padding: 40px 35px;
			input {
				width: 100%;
			}
			button {
				width: 100%;
			}
			div {
				margin-top: 15px;
				& + div {
					margin-top: 5px;
				}
			}
		}
	}
	.change-password {
		padding: 30px;
		&__inputs {
			width: 100%;
			padding-right: 0px;
			border-right: none;
			border-bottom: 1px solid #ebebeb;
			padding-bottom: 30px;
		}
		&__settings {
			padding-top: 30px;
			margin-left: 0;
		}
	}
}
